.text-input {
  display: flex;
  align-items: center;

  padding: 12px 4px 12px 24px;
  outline-color: #a1a1a1;
  background: #f1f2f4;
  border-radius: 12px;
  width: 100%;

  .icon {
    margin-right: 10px;
  }

  input {
    width: 100%;
    background: #f1f2f4;
    border: none;
    outline: none;
    font-size: 16px;
  }
}
